
@{
    ViewData["Title"] = "FeatureDetailAdd";
    Layout = "~/Areas/Admin/Views/Shared/Admin_Layout.cshtml";
}

@using e_ticaret.Models
@model FeatureDetailViewModel

<div class="col-md-6 grid-margin stretch-card">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">@ViewBag.isim için alt özellik ekle</h4>

            <form class="forms-sample" action="/Admin/Product/FeatureDetailAdd" method="post">
                <div class="form-group row">
                    <label for="exampleInputUsername2" class="col-sm-3 col-form-label">Ad</label>
                    <div class="col-sm-9">
                        <input type="text" name="property" class="form-control" placeholder="Alt özellik adı">
                        @Html.ValidationMessageFor(x => x.property, "", new { @class = "text-danger" })
                    </div>
                    <span asp-validation-for="name" class="text-danger"></span>


                </div>
                <div class="form-group row">
                    <label for="exampleInputEmail2" class="col-sm-3 col-form-label">Açıklama</label>
                    <div class="col-sm-9">
                        <input type="text" name="description" class="form-control" id="exampleInputEmail2" placeholder="Açıklama">
                    </div>

                </div>
                <input type="hidden" name="name" value="@ViewBag.isim" />
                <input type="hidden" name="title" value="@ViewBag.FeatureTitle" />
                <button type="submit" class="btn btn-gradient-primary mr-2">Ekle</button>
                <a class="btn btn-light" href="/Admin/Product/FeatureDetail/@ViewBag.isim">İptal</a>
            </form>
        </div>
    </div>
</div>


